Flask==1.1.2
Flask_RESTful==0.3.8
requests==2.25.1
Flask_SQLAlchemy==2.4.3
Flask_MySQLdb==0.2.0
mysql_connector_repackaged==0.3.1
flask_mysqldb == 0.2.0
mysqlclient == 2.0.3
click == 7.1.2
Jinja2 == 2.11.2
itsdangerous == 0.24
Werkzeug == 1.0.1
MarkupSafe == 0.23